@property --rotation {
	syntax: "<angle>";
	inherits: false;
	initial-value: 191deg;
}

.copy-button {
	--#{$prefix}btn-icon-opacity: #{$btn-disabled-opacity};
	--#{$prefix}btn-shadow-one-spread: 0 2px 8px 0;
	--#{$prefix}btn-shadow-one-opacity: 0.4;
	--#{$prefix}btn-shadow-two-spread: 0 0 24px 0;
	--#{$prefix}btn-shadow-two-opacity: 0.24;
	--#{$prefix}btn-glow-spread: 0 16px 32px 0;
	--#{$prefix}btn-glow-opacity: 0.16;
	--#{$prefix}btn-inner-shadow-color: #{$white};
	--#{$prefix}btn-inner-shadow-spread: 0 0 24px 0;
	--#{$prefix}btn-inner-shadow-opacity: 0.4;
	--#{$prefix}btn-shine-color: #{$white};
	--#{$prefix}btn-shine-color-transparent: hsl(from var(--#{$prefix}btn-shine-color) h s l / 0);
	border-width: 0;
	border-color: transparent;
	position: relative;
	
	&.btn-lg {
		--#{$prefix}btn-border-width: #{map-get($border-widths, 2)};
	}
	
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: var(--#{$prefix}btn-border-radius);
		background: linear-gradient(
			var(--rotation),
			var(--#{$prefix}btn-shine-color-transparent) 0%,
			var(--#{$prefix}btn-shine-color) 50%,
			var(--#{$prefix}btn-shine-color-transparent) 100%
		) border-box;
		border: var(--#{$prefix}btn-border-width) solid transparent;
		mask: /* mask inside the button */
			linear-gradient($black 0 0) padding-box, 
			linear-gradient($black 0 0);
		mask-composite: exclude;
		transition: --rotation $btn-transition-time $btn-transition-timing-function;
		mix-blend-mode: overlay;
	}
	
	&:disabled,
	&.disabled {
		--#{$prefix}btn-icon-opacity: 1;
		box-shadow: $btn-box-shadow;
		opacity: 1;
		background: hsl(from var(--#{$prefix}btn-bg) h s l / #{$btn-disabled-opacity});
		color: hsl(from var(--#{$prefix}btn-color) h s l / #{$btn-disabled-opacity});
		
		&::before {
			--rotation: initial;
		}
	}
	
	&:disabled,
	&:active,
	&.disabled
	&.active {
		--#{$prefix}btn-shadow-one-spread: 0 1px 4px 0;
		--#{$prefix}btn-shadow-one-opacity: 0.48;
		--#{$prefix}btn-shadow-two-spread: 0 0 12px 0;
		--#{$prefix}btn-shadow-two-opacity: 0.32;
		--#{$prefix}btn-glow-opacity: 0.48;
		--#{$prefix}btn-glow-spread: 0 8px 16px 0;
		--#{$prefix}btn-inner-shadow-color: #{$black};
		--#{$prefix}btn-inner-shadow-opacity: 0.2;
		--#{$prefix}btn-icon-color: var(--#{$prefix}btn-color);
	}
	
	&:not(:disabled),
	&:not(.disabled) {
		
		&:hover {
			--#{$prefix}btn-icon-opacity: 1;
			--#{$prefix}btn-shadow-one-spread: 0 4px 12px 0;
			--#{$prefix}btn-shadow-two-spread: 0 0 16px 0;
			--#{$prefix}btn-glow-spread: 0 12px 24px 0;
			--#{$prefix}btn-glow-opacity: 0.32;
			--#{$prefix}btn-inner-shadow-opacity: 0.64;
			transform: translate3d(0,-1px,0);
			
			&::before {
				--rotation: 169deg;
			}
		}
		
		&:active,
		.active {
			--#{$prefix}btn-icon-opacity: 1;
			transform: translate3d(0,1px,0);
		}
	}
	
	span {
		white-space: nowrap;
	}
	
	.remixicon {
		opacity: var(--#{$prefix}btn-icon-opacity);
		transition: opacity $btn-transition-time $btn-transition-timing-function;
	}
	
	.slide-enter {
		opacity: 0;
		transform: translate3d(0, -40%, 0);
		
		&-active {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: transform $btn-transition-time $btn-transition-timing-function,
						opacity $btn-transition-time $btn-transition-timing-function;
		}
	}
	
	.slide-exit {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		
		&-active {
			opacity: 0;
			transform: translate3d(0, 40%, 0);
			transition: transform $btn-transition-time $btn-transition-timing-function,
						opacity $btn-transition-time $btn-transition-timing-function;
		}
	}
}
