.intro {
	
	.display-5 {
		margin: 0;
	}
	
	.lead {
		margin: 0 0 $spacer * 2;
		
		a {
			font-weight: $font-weight-semibold;
			
			.remixicon {
				color: var(--#{$prefix}border-color);
			}
		}
	}
}