.intro {
	
	@include media-breakpoint-up(xl) {
		padding-left: 0;
		padding-right: 0;
	}
	
	.display-5 {
		margin: 0 0 $spacer;
	}
	
	.lead {
		margin: 0 0 $spacer;
		
		a {
			font-weight: $font-weight-medium;
			
			.remixicon {
				opacity: .5;
			}
		}
	}
}