a
    text-decoration $link-decoration
    color $link-color
    
    &:hover
        text-decoration $link-hover-decoration
        color $link-hover-color
        
    &:active
        text-decoration $link-active-decoration
        color $link-active-color