.button
    display inline-block
    cursor pointer
    text-align center
    white-space nowrap
    vertical-align middle
    touch-action manipulation
    user-select none
    padding $button-padding-top $button-padding-side
    text-transform $button-text-transform
    color $button-color
    background-color $button-background-color
    background-image $button-background-image
    border solid $border-width-base $button-border-color
    box-shadow $button-shadow
    border-radius $button-border-radius
    transition border-color ease-in-out $transition-base, background-color ease-in-out $transition-base, color ease-in-out $transition-base
    
    &:hover
    &:active
        text-decoration none
        background darken($button-background-color, 10%)
        
    .icon
        top -0.125rem
        
        ~ span
            padding-left 0.125rem