dl
    display block
    padding $dl-padding
    margin $dl-margin

    dd
    dt
        display block

    dd
        margin $dd-margin
        font-weight $dd-font-weight
        padding $dd-padding
        
    dt
        margin $dt-margin
        font-weight $dt-font-weight
        padding $dt-padding