.icon
    position: relative;
    display: inline-block;
    height: $icon-size-base;
    width: $icon-size-base;
    vertical-align: middle;
    fill: currentColor;

    use
        fill: currentColor;
        
.icon-small
    height: $icon-size-small;
    width: $icon-size-small;

.icon-large
    height: $icon-size-large;
    width: $icon-size-large;

.icon-xl
    height: $icon-size-xl;
    width: $icon-size-xl;