//placeholder overflow
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }

input[type="text"]
input[type="password"]
input[type="email"]
input[type="search"]
input[type="number"]
    box-sizing border-box
    display block
    width 100%
    height $input-height
    padding $input-padding
    color $input-color
    appearance none
    background-color $white
    border $input-border-width $input-border-type $input-border-color
    border-radius $input-border-radius
    transition $input-transition
    box-shadow $input-box-shadow
    
    &:hover
        border-color $input-border-color-hover
        background-color $input-background-color-hover
        box-shadow $input-box-shadow-hover
        
    &:focus
        border-color $input-border-color-focus
        background-color $input-background-color-focus
        box-shadow $input-box-shadow-focus
        outline none
        
    &.error
        border-color $input-border-color-error
        background-color $input-background-color-error
        box-shadow $input-box-shadow-error