ol
    padding $ol-padding
    margin $ol-margin
    list-style $ol-style
    
    li
        padding $ol-li-padding
        margin $ol-li-margin
        
    ol
        padding $ol-child-padding
        margin $ol-child-margin
        list-style $ol-child-style