ul
    padding $ul-padding
    margin $ul-margin
    list-style $ul-style
    
    li
        padding $ul-li-padding
        margin $ul-li-margin
        
    ul
        padding $ul-child-padding
        margin $ul-child-margin
        list-style $ul-child-style