.center
    text-align center
    
.left
    text-align left
    
.right
    text-align right

//Background Colours
.primary
    background $brand-primary
    
.secondary
    background $brand-secondary
    
.tertiary
    background $brand-tertiary

.black
    background $black

.white
    background $white

.gray
    background $gray

.gray-light
    background $gray-light

.gray-dark
    background $gray-dark

.action
    background $brand-action

.success
    background $brand-success

.danger
    background $brand-danger

.warning
    background $brand-warning
    
.wildcard
    background $brand-wildcard
    
//Text Colours
.text-primary
    color $brand-primary
    
.text-secondary
    color $brand-secondary
    
.text-tertiary
    color $brand-tertiary

.text-black
    color $black

.text-white
    color $white

.text-gray
    color $gray

.text-gray-light
    color $gray-light

.text-gray-dark
    color $gray-dark

.text-action
    color $brand-action

.text-green
    color $brand-success

.text-danger
    color $brand-danger

.text-warning
    color $brand-warning
    
.text-wildcard
    color $brand-wildcard
    
//Spacing
.p-small
    padding $spacing-small
    
.p-base
    padding $spacing-base

.p-large
    padding $spacing-large
    
.p-xl
    padding $spacing-xl
    
.p-top-small
    padding-top $spacing-small
    
.p-top-base
    padding-top $spacing-base

.p-top-large
    padding-top $spacing-large
    
.p-top-xl
    padding-top $spacing-xl
    
.p-bottom-small
    padding-bottom $spacing-small
    
.p-bottom-base
    padding-bottom $spacing-base

.p-bottom-large
    padding-bottom $spacing-large
    
.p-bottom-xl
    padding-bottom $spacing-xl
    
.p-left-small
    padding-left $spacing-small
    
.p-left-base
    padding-left $spacing-base

.p-left-large
    padding-left $spacing-large
    
.p-left-xl
    padding-left $spacing-xl
    
.p-right-small
    padding-right $spacing-small
    
.p-right-base
    padding-right $spacing-base

.p-right-large
    padding-right $spacing-large
    
.p-right-xl
    padding-right $spacing-xl
    
.m-small
    margin $spacing-small
    
.m-base
    margin $spacing-base

.m-large
    margin $spacing-large
    
.m-xl
    margin $spacing-xl
    
.m-top-small
    margin-top $spacing-small
    
.m-top-base
    margin-top $spacing-base

.m-top-large
    margin-top $spacing-large
    
.m-top-xl
    margin-top $spacing-xl
    
.m-bottom-small
    margin-bottom $spacing-small
    
.m-bottom-base
    margin-bottom $spacing-base

.m-bottom-large
    margin-bottom $spacing-large
    
.m-bottom-xl
    margin-bottom $spacing-xl
    
.m-left-small
    margin-left $spacing-small
    
.m-left-base
    margin-left $spacing-base

.m-left-large
    margin-left $spacing-large
    
.m-left-xl
    margin-left $spacing-xl
    
.m-right-small
    margin-right $spacing-small
    
.m-right-base
    margin-right $spacing-base

.m-right-large
    margin-right $spacing-large
    
.m-right-xl
    margin-right $spacing-xl