@import 'variables.styl'

@import 'setup/normalize.styl'
@import 'setup/mixins.styl'
@import 'setup/helper.styl'

*
    box-sizing border-box
    
    &:before
    &:after
        box-sizing border-box

html
    font-size $font-size

body
    background $body-background
    color $body-text-color
    font-family $body-font-face
    font-size $body-font-size
    line-height $body-line-height
    font-weight $body-font-weight

@import 'elements/logo.styl'
@import 'elements/image.styl'
@import 'elements/anchor.styl'
@import 'elements/headings.styl'
@import 'elements/horizontal-rule.styl'
@import 'elements/description-list.styl'
@import 'elements/unordered-list.styl'
@import 'elements/ordered-list.styl'
@import 'elements/inputs.styl'
@import 'elements/label.styl'
@import 'elements/icons.styl'
@import 'elements/button.styl'

@import 'components/grid.styl'
@import 'components/cards.styl'
@import 'components/tables.styl'
@import 'components/dropdown.styl'
@import 'components/hero.styl'
@import 'components/button-group.styl'
@import 'components/main-nav.styl'
@import 'components/pagination.styl'