/*##################################################################################
    BASE SETUP
##################################################################################*/

//Shades
$black                         = #000000
$white                         = #FFFFFF
$gray                          = #CCCCCC
$gray-light                    = #EFEFEF
$gray-dark                     = #666666
$gray-darker                   = #323232


//Brand Colours
$brand-primary                 = #EB613B
$brand-secondary               = #F98F6F
$brand-tertiary                = #C1D9CD
$brand-wildcard                = #4D3B36
$brand-background              = #F7EADC
$brand-action                  = #4485A4
$brand-success                 = #90BE51
$brand-danger                  = #F6664B
$brand-warning                 = #F0E14B


//Spacing
$spacing-small                 = 0.25rem
$spacing-base                  = 0.5rem
$spacing-large                 = 1rem
$spacing-xl                    = 2rem


//Typography
$font-size                     = 16px
$font-size-base                = 1rem
$font-size-large               = 1.25rem
$font-size-small               = 0.875rem
$font-face-sans                = Arial, Helvetica, sans-serif
$font-face-serif               = Georgia, serif
$font-face-mono                = "Courier New", Courier, monospace
$font-weight-base              = normal
$font-weight-bold              = bold
$line-height                   = 1.5

//Responsive breakpoints
$breakpoint-xs                 = 0
$breakpoint-sm                 = 34em
$breakpoint-md                 = 48em
$breakpoint-lg                 = 62em
$breakpoint-xl                 = 75em


//Border Radius
$radius-base                   = 0.25rem
$radius-large                  = 0.5rem
$radius-xl                     = 1rem


//borders
$border-width-base             = 0.0625rem
$border-width-large            = 0.125rem
$border-width-xl               = 0.25rem


//Layers
$layer-base                    = 0
$layer-one                     = 1
$layer-dropdown                = 1000
$layer-modal                   = 1050


//Shafows
$shadow-level-1                = 0 0.125rem 0.125rem 0 rgba(0,0,0,0.24), 0 0 0.125rem 0 rgba(0,0,0,0.12)


//transition times
$transition-base               = 0.2s


/*##################################################################################
    ELEMENTS SETUP
##################################################################################*/

//Body
$body-background               = $brand-background
$body-text-color               = $gray-darker
$body-font-face                = $font-face-sans
$body-font-size                = $font-size-base
$body-line-height              = $line-height
$body-font-weight              = $font-weight-base

//Anchor
$link-color                    = $brand-action
$link-decoration               = none
$link-hover-color              = darken($brand-action, 10%)
$link-hover-decoration         = underline
$link-active-color             = lignten($brand-action, 10%)
$link-active-decoration        = none


//Headings
$headings-font-weight          = $font-weight-bold
$headings-line-height          = 1.2
$headings-color                = $black
$headings-margin               = $spacing-large 0
$font-size-h1                  = 2.25rem
$font-size-h2                  = 2rem
$font-size-h3                  = 1.75rem
$font-size-h4                  = 1.5rem
$font-size-h5                  = 1.25rem
$font-size-h6                  = 1rem


//Horizontal Rule 
$rule-margin-top               = $spacing-large
$rule-margin-bottom            = $spacing-large
$rule-border-width             = $border-width-base
$rule-border-type              = solid
$rule-border-color             = $gray


//Description List
$dl-padding                    = 0
$dl-margin                     = 0 0 $spacing-large

$dd-margin                     = 0
$dd-font-weight                = $font-weight-base
$dd-padding                    = 0

$dt-margin                     = 0
$dt-font-weight                = $font-weight-bold
$dt-padding                    = 0

//Ordered List

$ol-padding                    = 0 0 0 $spacing-xl
$ol-margin                     = 0 0 $spacing-base
$ol-style                      = decimal outside

$ol-child-padding              = $spacing-base 0 0 $spacing-xl
$ol-child-margin               = 0 0 $spacing-base
$ol-child-style                = lower-alpha outside
    
$ol-li-padding                 = 0
$ol-li-margin                  = 0

//Unordered List

$ul-padding                    = 0 0 0 $spacing-xl
$ul-margin                     = 0 0 $spacing-base
$ul-style                      = bullet outside

$ul-child-padding              = $spacing-base 0 0 $spacing-xl
$ul-child-margin               = 0 0 $spacing-base
$ul-child-style                = circle outside
    
$ul-li-padding                 = 0
$ul-li-margin                  = 0


//Pre
$pre-background                = $brand-wildcard
$pre-color                     = $white
$pre-radius                    = $radius-base

//Inputs
$input-height                  = 2.625rem
$input-padding                 = $spacing-base $spacing-large
$input-color                   = $black
$input-background-color        = $white
$input-border-width            = $border-width-base
$input-border-type             = solid
$input-border-color            = $gray
$input-border-radius           = $radius-base
$input-transition              = border-color ease-in-out $transition-base
$input-box-shadow              = none

$input-border-color-hover      = darken($gray, 20%)
$input-box-shadow-hover        = none
$input-background-color-hover  = $white

$input-border-color-focus      = $brand-action
$input-box-shadow-focus        = none
$input-background-color-focus  = $white

$input-border-color-error  = $brand-danger
$input-box-shadow-error        = none
$input-background-color-error  = $white


//icons
$icon-size-small               = 0.75rem
$icon-size-base                = 1rem
$icon-size-large               = 1.5rem
$icon-size-xl                  = 3rem


//Button
$button-padding-top            = $spacing-base
$button-padding-side           = $spacing-large
$button-text-transform         = none
$button-border-radius          = $radius-base
$button-color                  = $brand-action
$button-border-color           = $gray
$button-background-color       = $white
$button-background-image       = none
$button-shadow                 = none


/*##################################################################################
    COMPONENTS SETUP
##################################################################################*/

//Grid setup
$grid-columns                  = 12
$grid-padding                  = $spacing-base

//Main Nav
$main-nav-background           = $brand-secondary
$main-nav-color                = $white