---
import Button from 'react-bootstrap/Button';
import Container from 'react-bootstrap/Container';
---

<header>
    <Container>
        <Button variant="link" href="/">LR</Button>
    </Container>
</header>
