---
import { Col, Container, Row, Stack } from 'react-bootstrap';
import { RiExternalLinkLine } from '@remixicon/react'
import FaviconTheme from '../components/FaviconTheme.astro';
import Fonts from '../components/Fonts.astro';
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro';
import '../styles/styles.scss';

const { title } = Astro.props;
const { name } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <FaviconTheme />
        <Fonts />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <style>
    </style>
    <body>
        <Header />
        <main>
            <Container>
                <slot />
            </Container>
        </main>
        <Footer name={name} />
    </body>
</html>
