---
import { Col, Container, Row, Stack } from 'react-bootstrap';
import { RiExternalLinkLine } from '@remixicon/react'
import FaviconTheme from '../components/FaviconTheme.astro';
import Fonts from '../components/Fonts.astro';
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro';
import '../styles/styles.scss';

const { title } = Astro.props;
const { name } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <FaviconTheme />
        <Fonts />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script is:inline>
            window.THEME_STORAGE_KEY = 'theme-preference';
            (() => {
                const storedTheme = localStorage.getItem(window.THEME_STORAGE_KEY);
                const getPreferredTheme = () => {
                    if (storedTheme) return storedTheme;
                    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
                };
                document.documentElement.setAttribute('data-bs-theme', getPreferredTheme());
            })();
        </script>
    </head>
    <body>
        <Header />
        <main>
            <Container>
                <slot />
            </Container>
        </main>
        <Footer name={name} />
    </body>
</html>
