.button-group
    display flex
    width 100%
    
    .button
    input
    a
        border-right-width 0
        border-radius 0
        
        &:first-child
            border-top-left-radius $radius-base
            border-bottom-left-radius $radius-base
            
        &:last-child
            border-right-width $border-width-base
            border-top-right-radius $radius-base
            border-bottom-right-radius $radius-base
            
    input
            
        &:hover
        
            + .button
                border-left-color $input-border-color-hover

        &:focus
        
            + .button
                border-left-color $brand-action
            
    .button
    a
        flex-shrink 0