.container
    max-width 70rem
    padding 0 $spacing-base
    margin 0 auto

.row
    margin-left -($grid-padding)
    margin-right -($grid-padding)
    clearfix()

.cell
    padding 0 $grid-padding

@media (min-width: $breakpoint-md)    
    
    .container
        padding 0 $spacing-large

    .row
        display flex
        flex-wrap wrap
    
    for $num in (1..$grid-columns)
        
        .cell-{$num}
            @extend .cell
            flex-grow 0
            flex-shrink 0
            width (100%/$num)