.hero
    background $white
    padding-top $spacing-base
    padding-bottom $spacing-base
    
    .hero-buttons
        margin-left -+$spacing-base
        
        .button
            
            &:first-child
                margin-left -+$spacing-base
    
@media (min-width: $breakpoint-md)

    .hero
        padding-top $spacing-large
        padding-bottom $spacing-large
        
        .container
            display flex
            justify-content space-between
            align-items center
            
        .hero-buttons
            margin-left $spacing-large
            
            .button
                
                &:first-child
                    margin-left 0