.main-nav
    position relative
    background $main-nav-background
    line-height 1.2

    &:after
        content ""
        position absolute
        right 0
        top 0
        height 100%
        width $spacing-xl
        background-image: linear-gradient(90deg, rgba(red($main-nav-background),green($main-nav-background),blue($main-nav-background),0) 0%, rgba(red($main-nav-background),green($main-nav-background),blue($main-nav-background),1) 100%);
        z-index 1

    nav 
        display flex
        flex-direction row
        flex-wrap nowrap
        overflow auto
        
        &:before
            content ""
            flex-shrink 0
            padding-left $spacing-base

        &:after
            content ""
            flex-shrink 0
            padding-left $spacing-xl
            
        > .dropdown-container
            display flex

        > a
        > .dropdown-container > a
            flex-shrink 0
            position relative
            font-size $font-size-large
            padding $spacing-large
            color rgba(red($main-nav-color),green($main-nav-color),blue($main-nav-color),0.8)
            white-space nowrap
            border-radius $radius-base $radius-base 0 0
            transition color ease-in-out $transition-base

            &:before
                opacity 0
                content ""
                position absolute
                bottom 0
                left $spacing-large
                right $spacing-large
                border-bottom solid $border-width-xl $main-nav-color

            &:hover
            &.active
            &.focus
                color $main-nav-color

            &.active

                &:before
                    opacity 1
                        
.container
    
    > .main-nav
        margin-left -+$spacing-base
        margin-right -+$spacing-base
                        
@media (min-width: $breakpoint-md)

    .container
    
        > .main-nav
            margin 0

    .main-nav
        
        &:after
            display none
        
        nav
            overflow visible
            
            &:before
            &:after
                display none
                
            > .dropdown-container
                position relative
            