.pagination
    @extend .button-group
    
    > a
        @extend .button
        flex-grow 1
        
        &:nth-child(n+4)
            display none
            
        &.more
        &:last-child
            display block
                
        &.active
            button-variant($white, $brand-action, $brand-action)
            font-weight $font-weight-bold
            
            + a
                border-left-color $brand-action
        
        &.disabled
            background $gray-light
            color $gray
            border-color $gray
            
@media (min-width: $breakpoint-md)
    
    .pagination
        
        &.center
            justify-content center
            
        &.right
            justify-content flex-end
        
        > a
            flex-grow 0
            
            &:nth-child(n+4)
                display block