table
    border-collapse collapse
    min-width 100%
    
    td
    th
        text-align left
        white-space nowrap
        padding $spacing-base
        border-bottom solid $border-width-base $gray
        
    th
        font-weight $font-weight-bold
        
.table-responsive
    position relative
    border-radius $radius-base 0 0 $radius-base
    margin-right -+$spacing-base
    background $white
    
    &:before
        content ""
        z-index $layer-one
        position absolute
        right 0
        top 0
        width $spacing-xl
        height 100%
        background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        
    .table-scroller
        padding $spacing-large $spacing-xl $spacing-large $spacing-large
        overflow auto
    
        table
            border-right solid $spacing-xl $white
            
@media (min-width: $breakpoint-md)

    .table-responsive
        margin-right 0
        border-radius $radius-base
        
        &:before
            display none
            
        .table-scroller
            padding $spacing-large
        
            table
                border-right none